body {
    font-family: sans-serif;
    font-size: 18px;
}

.App {
    display: flex;
    justify-content: center;
    align-content: center;

    width: 570px;
    margin: 20px auto 20px;
    padding: 10px;

    border-radius: 10px;
    box-shadow: 0 0 10px #cccccc;
}

.form-wrapper {
    width: 200px;
}

.form__input {
    width: 95%;
    height: 24px;
    margin-bottom: 5px;
    padding-left: 5px;

    border: 2px solid #cccccc;
    border-radius: 5px;

    font-size: 14px;
}

.form__input::placeholder {
    font-size: 12px;
}

.point {
    display: flex;
    justify-content: space-between;

    margin-bottom: 2px;
    padding: 3px;

    cursor: pointer;
}

.point:hover {
    box-shadow: 0 0 2px #cccccc;
}

.map-wrapper {
    width: 360px;
    height: 360px;
    margin-left: 10px;

    border: 2px solid #cccccc;
    border-radius: 5px;
}

.map {
    width: 360px;
    height: 360px;
}
