body {
  font-family: sans-serif;
  font-size: 18px;
}

.App {
  display: flex;
  justify-content: center;
  align-content: center;

  width: 570px;
  margin: 20px auto 20px;
  padding: 10px;

  border-radius: 10px;
  box-shadow: 0 0 10px #cccccc;
}

.form-wrapper {
  width: 200px;
}

.form__input {
  width: 97%;
  height: 24px;
  margin-bottom: 10px;

  border: 2px solid #cccccc;
  border-radius: 5px;
}

.point {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}

.point__delete {

}

.map-wrapper {
  width: 360px;
  height: 360px;
  margin-left: 10px;

  border: 2px solid #cccccc;
  border-radius: 5px;
}
