body {
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1;
}

.App {
    display: flex;
    justify-content: center;
    align-content: center;

    width: 690px;
    margin: 20px auto 20px;
    padding: 10px;

    border-radius: 10px;
    box-shadow: 0 0 10px #cccccc;
}

.form-wrapper {
    width: 215px;
}

.form {
    width: 215px;
}

.form__input {
    width: 95%;
    height: 24px;
    margin-bottom: 5px;
    padding-left: 5px;

    border: 2px solid #cccccc;
    border-radius: 5px;

    font-size: 14px;
}

.form__input::placeholder {
    font-size: 12px;
}

.point {
    display: flex;
    justify-content: space-between;

    margin: 0 0 2px;
    padding: 3px;

    cursor: pointer;
}

.point__name {
    margin: 0;
}

.point:hover {
    box-shadow: 0 0 3px #cccccc;
    border-radius: 3px;
}

.map-wrapper {
    position: relative;
    width: 460px;
    height: 460px;
    margin-left: 10px;

    border: 2px solid #cccccc;
    border-radius: 5px;
}

.map {
    width: 460px;
    height: 460px;
}

.map-point {
    position: absolute;
    width: 15px;
    height: 15px;
    z-index: 999;

    background: url(//yastatic.net/s3/front-maps-static/front-maps/_/220b7368693f1dd6ea9cc18efe67c389.svg) no-repeat;
    cursor: pointer;
}

.map-canvas {
    position: absolute;
    top: 0;
    left: 0;
}
